parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method object\:\:addListener\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/EcommerceServiceProvider.php

		-
			message: '#^Call to an undefined method object\:\:addMigrator\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/EcommerceServiceProvider.php

		-
			message: '#^Call to an undefined method object\:\:setRevisions\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/EcommerceServiceProvider.php

		-
			message: '#^Method Tnt\\Ecommerce\\EcommerceServiceProvider\:\:bootEventListeners\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/EcommerceServiceProvider.php

		-
			message: '#^Property Tnt\\Ecommerce\\Events\\Order\\OrderEvent\:\:\$order has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: src/Events/Order/OrderEvent.php

		-
			message: '#^Method Tnt\\Ecommerce\\Fulfillment\\MissingAttribute\:\:getAttributeName\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Fulfillment/MissingAttribute.php

		-
			message: '#^PHPDoc tag @var has invalid value \(\$data\)\: Unexpected token "\$data", expected type at offset 16 on line 2$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/Fulfillment/MissingAttribute.php

		-
			message: '#^Property Tnt\\Ecommerce\\Fulfillment\\MissingAttribute\:\:\$data has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: src/Fulfillment/MissingAttribute.php

		-
			message: '#^Property Tnt\\Ecommerce\\Fulfillment\\MissingAttribute\:\:\$data is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Fulfillment/MissingAttribute.php

		-
			message: '#^Method Tnt\\Ecommerce\\Revisions\\CreateCartItemTable\:\:down\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Revisions/CreateCartItemTable.php

		-
			message: '#^Method Tnt\\Ecommerce\\Revisions\\CreateCartItemTable\:\:up\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Revisions/CreateCartItemTable.php

		-
			message: '#^Method Tnt\\Ecommerce\\Revisions\\CreateCartTable\:\:down\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Revisions/CreateCartTable.php

		-
			message: '#^Method Tnt\\Ecommerce\\Revisions\\CreateCartTable\:\:up\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Revisions/CreateCartTable.php

		-
			message: '#^Method Tnt\\Ecommerce\\Revisions\\CreateCustomerTable\:\:down\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Revisions/CreateCustomerTable.php

		-
			message: '#^Method Tnt\\Ecommerce\\Revisions\\CreateCustomerTable\:\:up\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Revisions/CreateCustomerTable.php

		-
			message: '#^Method Tnt\\Ecommerce\\Revisions\\CreateDiscountCodeTable\:\:down\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Revisions/CreateDiscountCodeTable.php

		-
			message: '#^Method Tnt\\Ecommerce\\Revisions\\CreateDiscountCodeTable\:\:up\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Revisions/CreateDiscountCodeTable.php

		-
			message: '#^Method Tnt\\Ecommerce\\Revisions\\CreateFulfillmentMethodTable\:\:down\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Revisions/CreateFulfillmentMethodTable.php

		-
			message: '#^Method Tnt\\Ecommerce\\Revisions\\CreateFulfillmentMethodTable\:\:up\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Revisions/CreateFulfillmentMethodTable.php

		-
			message: '#^Method Tnt\\Ecommerce\\Revisions\\CreateOrderItemTable\:\:down\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Revisions/CreateOrderItemTable.php

		-
			message: '#^Method Tnt\\Ecommerce\\Revisions\\CreateOrderItemTable\:\:up\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Revisions/CreateOrderItemTable.php

		-
			message: '#^Method Tnt\\Ecommerce\\Revisions\\CreateOrderTable\:\:down\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Revisions/CreateOrderTable.php

		-
			message: '#^Method Tnt\\Ecommerce\\Revisions\\CreateOrderTable\:\:up\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Revisions/CreateOrderTable.php

		-
			message: '#^Method Tnt\\Ecommerce\\Revisions\\CreateStockItemTable\:\:down\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Revisions/CreateStockItemTable.php

		-
			message: '#^Method Tnt\\Ecommerce\\Revisions\\CreateStockItemTable\:\:up\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Revisions/CreateStockItemTable.php

		-
			message: '#^Method Tnt\\Ecommerce\\Revisions\\CreateStockTable\:\:down\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Revisions/CreateStockTable.php

		-
			message: '#^Method Tnt\\Ecommerce\\Revisions\\CreateStockTable\:\:up\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Revisions/CreateStockTable.php

		-
			message: '#^Method Tnt\\Ecommerce\\Revisions\\DatabaseRevision\:\:execute\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Revisions/DatabaseRevision.php
