parameters:
	ignoreErrors:
		-
			message: '#^Access to an undefined property Tnt\\Ecommerce\\Model\\Cart\:\:\$created\.$#'
			identifier: property.notFound
			count: 1
			path: src/Cart/Cart.php

		-
			message: '#^Access to an undefined property Tnt\\Ecommerce\\Model\\Cart\:\:\$discount\.$#'
			identifier: property.notFound
			count: 3
			path: src/Cart/Cart.php

		-
			message: '#^Access to an undefined property Tnt\\Ecommerce\\Model\\Cart\:\:\$fulfillment_method\.$#'
			identifier: property.notFound
			count: 2
			path: src/Cart/Cart.php

		-
			message: '#^Access to an undefined property Tnt\\Ecommerce\\Model\\Cart\:\:\$items\.$#'
			identifier: property.notFound
			count: 1
			path: src/Cart/Cart.php

		-
			message: '#^Access to an undefined property Tnt\\Ecommerce\\Model\\Cart\:\:\$updated\.$#'
			identifier: property.notFound
			count: 1
			path: src/Cart/Cart.php

		-
			message: '#^Access to an undefined property Tnt\\Ecommerce\\Model\\CartItem\:\:\$cart\.$#'
			identifier: property.notFound
			count: 1
			path: src/Cart/Cart.php

		-
			message: '#^Access to an undefined property Tnt\\Ecommerce\\Model\\CartItem\:\:\$created\.$#'
			identifier: property.notFound
			count: 1
			path: src/Cart/Cart.php

		-
			message: '#^Access to an undefined property Tnt\\Ecommerce\\Model\\CartItem\:\:\$item_class\.$#'
			identifier: property.notFound
			count: 1
			path: src/Cart/Cart.php

		-
			message: '#^Access to an undefined property Tnt\\Ecommerce\\Model\\CartItem\:\:\$item_id\.$#'
			identifier: property.notFound
			count: 1
			path: src/Cart/Cart.php

		-
			message: '#^Access to an undefined property Tnt\\Ecommerce\\Model\\CartItem\:\:\$quantity\.$#'
			identifier: property.notFound
			count: 1
			path: src/Cart/Cart.php

		-
			message: '#^Access to an undefined property Tnt\\Ecommerce\\Model\\CartItem\:\:\$updated\.$#'
			identifier: property.notFound
			count: 1
			path: src/Cart/Cart.php

		-
			message: '#^Access to an undefined property Tnt\\Ecommerce\\Model\\DiscountCode\:\:\$coupon\.$#'
			identifier: property.notFound
			count: 3
			path: src/Cart/Cart.php

		-
			message: '#^Access to an undefined property Tnt\\Ecommerce\\Model\\Order\:\:\$created\.$#'
			identifier: property.notFound
			count: 1
			path: src/Cart/Cart.php

		-
			message: '#^Access to an undefined property Tnt\\Ecommerce\\Model\\Order\:\:\$customer\.$#'
			identifier: property.notFound
			count: 1
			path: src/Cart/Cart.php

		-
			message: '#^Access to an undefined property Tnt\\Ecommerce\\Model\\Order\:\:\$discount\.$#'
			identifier: property.notFound
			count: 1
			path: src/Cart/Cart.php

		-
			message: '#^Access to an undefined property Tnt\\Ecommerce\\Model\\Order\:\:\$fulfillment_cost\.$#'
			identifier: property.notFound
			count: 1
			path: src/Cart/Cart.php

		-
			message: '#^Access to an undefined property Tnt\\Ecommerce\\Model\\Order\:\:\$fulfillment_method\.$#'
			identifier: property.notFound
			count: 1
			path: src/Cart/Cart.php

		-
			message: '#^Access to an undefined property Tnt\\Ecommerce\\Model\\Order\:\:\$order_id\.$#'
			identifier: property.notFound
			count: 1
			path: src/Cart/Cart.php

		-
			message: '#^Access to an undefined property Tnt\\Ecommerce\\Model\\Order\:\:\$reduction\.$#'
			identifier: property.notFound
			count: 1
			path: src/Cart/Cart.php

		-
			message: '#^Access to an undefined property Tnt\\Ecommerce\\Model\\Order\:\:\$subtotal\.$#'
			identifier: property.notFound
			count: 1
			path: src/Cart/Cart.php

		-
			message: '#^Access to an undefined property Tnt\\Ecommerce\\Model\\Order\:\:\$total\.$#'
			identifier: property.notFound
			count: 1
			path: src/Cart/Cart.php

		-
			message: '#^Access to an undefined property Tnt\\Ecommerce\\Model\\Order\:\:\$updated\.$#'
			identifier: property.notFound
			count: 1
			path: src/Cart/Cart.php

		-
			message: '#^Call to an undefined method object\:\:pay\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Cart/Cart.php

		-
			message: '#^Method Tnt\\Ecommerce\\Cart\\Cart\:\:checkout\(\) has parameter \$callback with no signature specified for Closure\.$#'
			identifier: missingType.callable
			count: 1
			path: src/Cart/Cart.php

		-
			message: '#^Method Tnt\\Ecommerce\\Cart\\Cart\:\:items\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Cart/Cart.php

		-
			message: '#^Method Tnt\\Ecommerce\\Cart\\Cart\:\:restore\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Cart/Cart.php

		-
			message: '#^Parameter \#1 \$id of method Tnt\\Ecommerce\\Contracts\\ShopInterface\:\:hasFulfillment\(\) expects int, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Cart/Cart.php

		-
			message: '#^Parameter \#1 \$id of static method dry\\orm\\Model\:\:load\(\) expects int, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Cart/Cart.php

		-
			message: '#^Method Tnt\\Ecommerce\\Contracts\\CartInterface\:\:items\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Contracts/CartInterface.php

		-
			message: '#^Method Tnt\\Ecommerce\\Contracts\\FulfillmentInterface\:\:requireAttributes\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Contracts/FulfillmentInterface.php

		-
			message: '#^Method Tnt\\Ecommerce\\Contracts\\FulfillmentInterface\:\:setAttribute\(\) has parameter \$value with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Contracts/FulfillmentInterface.php

		-
			message: '#^Method Tnt\\Ecommerce\\Contracts\\OrderInterface\:\:getItems\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Contracts/OrderInterface.php

		-
			message: '#^Method Tnt\\Ecommerce\\Contracts\\ShopInterface\:\:getFulfillment\(\) has parameter \$id with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Contracts/ShopInterface.php

		-
			message: '#^Method Tnt\\Ecommerce\\Contracts\\ShopInterface\:\:getFulfillments\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Contracts/ShopInterface.php

		-
			message: '#^Call to an undefined method object\:\:addListener\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/EcommerceServiceProvider.php

		-
			message: '#^Call to an undefined method object\:\:addMigrator\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/EcommerceServiceProvider.php

		-
			message: '#^Call to an undefined method object\:\:get\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/EcommerceServiceProvider.php

		-
			message: '#^Call to an undefined method object\:\:setRevisions\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/EcommerceServiceProvider.php

		-
			message: '#^Method Tnt\\Ecommerce\\EcommerceServiceProvider\:\:bootEventListeners\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/EcommerceServiceProvider.php

		-
			message: '#^Property Tnt\\Ecommerce\\Events\\Order\\OrderEvent\:\:\$order has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: src/Events/Order/OrderEvent.php

		-
			message: '#^PHPDoc tag @var has invalid value \(\$quantity\)\: Unexpected token "\$quantity", expected type at offset 13 on line 2$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/Events/Stock/StockEvent.php

		-
			message: '#^Property Tnt\\Ecommerce\\Events\\Stock\\StockEvent\:\:\$quantity has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: src/Events/Stock/StockEvent.php

		-
			message: '#^Class Tnt\\Ecommerce\\Facade\\Cart extends generic class Oak\\Facade but does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: src/Facade/Cart.php

		-
			message: '#^Class Tnt\\Ecommerce\\Facade\\Shop extends generic class Oak\\Facade but does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: src/Facade/Shop.php

		-
			message: '#^Trait Tnt\\Ecommerce\\Fulfillment\\HasFulfillmentAttributes is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Fulfillment/HasFulfillmentAttributes.php

		-
			message: '#^Method Tnt\\Ecommerce\\Fulfillment\\MissingAttribute\:\:getAttributeName\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Fulfillment/MissingAttribute.php

		-
			message: '#^PHPDoc tag @var has invalid value \(\$data\)\: Unexpected token "\$data", expected type at offset 16 on line 2$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/Fulfillment/MissingAttribute.php

		-
			message: '#^Property Tnt\\Ecommerce\\Fulfillment\\MissingAttribute\:\:\$data has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: src/Fulfillment/MissingAttribute.php

		-
			message: '#^Property Tnt\\Ecommerce\\Fulfillment\\MissingAttribute\:\:\$data is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Fulfillment/MissingAttribute.php

		-
			message: '#^Access to an undefined property Tnt\\Ecommerce\\Model\\Cart\:\:\$items\.$#'
			identifier: property.notFound
			count: 1
			path: src/Model/Cart.php

		-
			message: '#^Method Tnt\\Ecommerce\\Model\\Cart\:\:get_items\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Model/Cart.php

		-
			message: '#^Access to an undefined property Tnt\\Ecommerce\\Model\\CartItem\:\:\$item_class\.$#'
			identifier: property.notFound
			count: 2
			path: src/Model/CartItem.php

		-
			message: '#^Access to an undefined property Tnt\\Ecommerce\\Model\\CartItem\:\:\$item_id\.$#'
			identifier: property.notFound
			count: 2
			path: src/Model/CartItem.php

		-
			message: '#^Access to an undefined property Tnt\\Ecommerce\\Model\\CartItem\:\:\$quantity\.$#'
			identifier: property.notFound
			count: 2
			path: src/Model/CartItem.php

		-
			message: '#^Access to an undefined property Tnt\\Ecommerce\\Model\\CartItem\:\:\$updated\.$#'
			identifier: property.notFound
			count: 1
			path: src/Model/CartItem.php

		-
			message: '#^Method Tnt\\Ecommerce\\Model\\CartItem\:\:getId\(\) should return string but returns int\|null\.$#'
			identifier: return.type
			count: 1
			path: src/Model/CartItem.php

		-
			message: '#^Access to an undefined property Tnt\\Ecommerce\\Model\\Customer\:\:\$first_name\.$#'
			identifier: property.notFound
			count: 1
			path: src/Model/Customer.php

		-
			message: '#^Access to an undefined property Tnt\\Ecommerce\\Model\\Customer\:\:\$last_name\.$#'
			identifier: property.notFound
			count: 1
			path: src/Model/Customer.php

		-
			message: '#^Access to an undefined property Tnt\\Ecommerce\\Model\\DiscountCode\:\:\$coupon_class\.$#'
			identifier: property.notFound
			count: 1
			path: src/Model/DiscountCode.php

		-
			message: '#^Access to an undefined property Tnt\\Ecommerce\\Model\\DiscountCode\:\:\$coupon_id\.$#'
			identifier: property.notFound
			count: 1
			path: src/Model/DiscountCode.php

		-
			message: '#^Access to an undefined property Tnt\\Ecommerce\\Model\\Order\:\:\$customer\.$#'
			identifier: property.notFound
			count: 2
			path: src/Model/Order.php

		-
			message: '#^Access to an undefined property Tnt\\Ecommerce\\Model\\Order\:\:\$fulfillment_method\.$#'
			identifier: property.notFound
			count: 2
			path: src/Model/Order.php

		-
			message: '#^Access to an undefined property Tnt\\Ecommerce\\Model\\Order\:\:\$items\.$#'
			identifier: property.notFound
			count: 1
			path: src/Model/Order.php

		-
			message: '#^Access to an undefined property Tnt\\Ecommerce\\Model\\Order\:\:\$reduction\.$#'
			identifier: property.notFound
			count: 1
			path: src/Model/Order.php

		-
			message: '#^Access to an undefined property Tnt\\Ecommerce\\Model\\Order\:\:\$subtotal\.$#'
			identifier: property.notFound
			count: 1
			path: src/Model/Order.php

		-
			message: '#^Access to an undefined property Tnt\\Ecommerce\\Model\\Order\:\:\$total\.$#'
			identifier: property.notFound
			count: 1
			path: src/Model/Order.php

		-
			message: '#^Access to an undefined property Tnt\\Ecommerce\\Model\\OrderItem\:\:\$item_class\.$#'
			identifier: property.notFound
			count: 1
			path: src/Model/Order.php

		-
			message: '#^Access to an undefined property Tnt\\Ecommerce\\Model\\OrderItem\:\:\$item_id\.$#'
			identifier: property.notFound
			count: 1
			path: src/Model/Order.php

		-
			message: '#^Access to an undefined property Tnt\\Ecommerce\\Model\\OrderItem\:\:\$order\.$#'
			identifier: property.notFound
			count: 1
			path: src/Model/Order.php

		-
			message: '#^Access to an undefined property Tnt\\Ecommerce\\Model\\OrderItem\:\:\$price\.$#'
			identifier: property.notFound
			count: 1
			path: src/Model/Order.php

		-
			message: '#^Access to an undefined property Tnt\\Ecommerce\\Model\\OrderItem\:\:\$quantity\.$#'
			identifier: property.notFound
			count: 1
			path: src/Model/Order.php

		-
			message: '#^Call to an undefined static method Tnt\\Ecommerce\\Facade\\Shop\:\:getFulfillment\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: src/Model/Order.php

		-
			message: '#^Return type \(mixed\) of method Tnt\\Ecommerce\\Model\\Order\:\:getItems\(\) should be covariant with return type \(array\) of method Tnt\\Ecommerce\\Contracts\\OrderInterface\:\:getItems\(\)$#'
			identifier: method.childReturnType
			count: 1
			path: src/Model/Order.php

		-
			message: '#^Access to an undefined property Tnt\\Ecommerce\\Model\\OrderItem\:\:\$item_class\.$#'
			identifier: property.notFound
			count: 1
			path: src/Model/OrderItem.php

		-
			message: '#^Access to an undefined property Tnt\\Ecommerce\\Model\\OrderItem\:\:\$item_id\.$#'
			identifier: property.notFound
			count: 1
			path: src/Model/OrderItem.php

		-
			message: '#^Access to an undefined property Tnt\\Ecommerce\\Model\\OrderItem\:\:\$quantity\.$#'
			identifier: property.notFound
			count: 1
			path: src/Model/OrderItem.php

		-
			message: '#^Method Tnt\\Ecommerce\\Revisions\\CreateCartItemTable\:\:down\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Revisions/CreateCartItemTable.php

		-
			message: '#^Method Tnt\\Ecommerce\\Revisions\\CreateCartItemTable\:\:up\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Revisions/CreateCartItemTable.php

		-
			message: '#^Method Tnt\\Ecommerce\\Revisions\\CreateCartTable\:\:down\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Revisions/CreateCartTable.php

		-
			message: '#^Method Tnt\\Ecommerce\\Revisions\\CreateCartTable\:\:up\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Revisions/CreateCartTable.php

		-
			message: '#^Method Tnt\\Ecommerce\\Revisions\\CreateCustomerTable\:\:down\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Revisions/CreateCustomerTable.php

		-
			message: '#^Method Tnt\\Ecommerce\\Revisions\\CreateCustomerTable\:\:up\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Revisions/CreateCustomerTable.php

		-
			message: '#^Method Tnt\\Ecommerce\\Revisions\\CreateDiscountCodeTable\:\:down\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Revisions/CreateDiscountCodeTable.php

		-
			message: '#^Method Tnt\\Ecommerce\\Revisions\\CreateDiscountCodeTable\:\:up\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Revisions/CreateDiscountCodeTable.php

		-
			message: '#^Method Tnt\\Ecommerce\\Revisions\\CreateFulfillmentMethodTable\:\:down\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Revisions/CreateFulfillmentMethodTable.php

		-
			message: '#^Method Tnt\\Ecommerce\\Revisions\\CreateFulfillmentMethodTable\:\:up\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Revisions/CreateFulfillmentMethodTable.php

		-
			message: '#^Method Tnt\\Ecommerce\\Revisions\\CreateOrderItemTable\:\:down\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Revisions/CreateOrderItemTable.php

		-
			message: '#^Method Tnt\\Ecommerce\\Revisions\\CreateOrderItemTable\:\:up\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Revisions/CreateOrderItemTable.php

		-
			message: '#^Method Tnt\\Ecommerce\\Revisions\\CreateOrderTable\:\:down\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Revisions/CreateOrderTable.php

		-
			message: '#^Method Tnt\\Ecommerce\\Revisions\\CreateOrderTable\:\:up\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Revisions/CreateOrderTable.php

		-
			message: '#^Method Tnt\\Ecommerce\\Revisions\\CreateStockItemTable\:\:down\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Revisions/CreateStockItemTable.php

		-
			message: '#^Method Tnt\\Ecommerce\\Revisions\\CreateStockItemTable\:\:up\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Revisions/CreateStockItemTable.php

		-
			message: '#^Method Tnt\\Ecommerce\\Revisions\\CreateStockTable\:\:down\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Revisions/CreateStockTable.php

		-
			message: '#^Method Tnt\\Ecommerce\\Revisions\\CreateStockTable\:\:up\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Revisions/CreateStockTable.php

		-
			message: '#^Method Tnt\\Ecommerce\\Revisions\\DatabaseRevision\:\:execute\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Revisions/DatabaseRevision.php

		-
			message: '#^Method Tnt\\Ecommerce\\Shop\\Shop\:\:getFulfillment\(\) has parameter \$id with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Shop/Shop.php

		-
			message: '#^Method Tnt\\Ecommerce\\Shop\\Shop\:\:getFulfillments\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Shop/Shop.php

		-
			message: '#^Possibly invalid array key type mixed\.$#'
			identifier: offsetAccess.invalidOffset
			count: 1
			path: src/Shop/Shop.php

		-
			message: '#^Property Tnt\\Ecommerce\\Shop\\Shop\:\:\$fulfillments type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Shop/Shop.php

		-
			message: '#^Access to an undefined property Tnt\\Ecommerce\\Model\\StockItem\:\:\$created\.$#'
			identifier: property.notFound
			count: 1
			path: src/Stock/StockWorker.php

		-
			message: '#^Access to an undefined property Tnt\\Ecommerce\\Model\\StockItem\:\:\$item_class\.$#'
			identifier: property.notFound
			count: 1
			path: src/Stock/StockWorker.php

		-
			message: '#^Access to an undefined property Tnt\\Ecommerce\\Model\\StockItem\:\:\$item_id\.$#'
			identifier: property.notFound
			count: 1
			path: src/Stock/StockWorker.php

		-
			message: '#^Access to an undefined property Tnt\\Ecommerce\\Model\\StockItem\:\:\$quantity\.$#'
			identifier: property.notFound
			count: 7
			path: src/Stock/StockWorker.php

		-
			message: '#^Access to an undefined property Tnt\\Ecommerce\\Model\\StockItem\:\:\$stock\.$#'
			identifier: property.notFound
			count: 1
			path: src/Stock/StockWorker.php

		-
			message: '#^Access to an undefined property Tnt\\Ecommerce\\Model\\StockItem\:\:\$updated\.$#'
			identifier: property.notFound
			count: 3
			path: src/Stock/StockWorker.php

		-
			message: '#^Parameter \#3 \$quantity of class Tnt\\Ecommerce\\Events\\Stock\\Decremented constructor expects int, float given\.$#'
			identifier: argument.type
			count: 1
			path: src/Stock/StockWorker.php

		-
			message: '#^Parameter \#3 \$quantity of class Tnt\\Ecommerce\\Events\\Stock\\Incremented constructor expects int, float given\.$#'
			identifier: argument.type
			count: 1
			path: src/Stock/StockWorker.php
